<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.1"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Text Reverser</display-name>

    <servlet>
        <servlet-name>TextReverser</servlet-name>
        <servlet-class>app.TextReverser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TextReverser</servlet-name>
        <url-pattern>/reverse</url-pattern>
    </servlet-mapping>

</web-app>
